.hidden {
  visibility: hidden;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* Extends dynamic styles */
div.user-list {
  justify-content: center;
  margin-right: 24px;
}

div.user-list img {
  display: block;
  margin: 10px auto;
}

div.user-list a {
  text-align: center;
}

/* Extends sweet-alert styles */
.sweet-alert .sa-error-container {
  background-color: transparent;
  padding: 0 !important;
}

.sweet-alert .sa-confirm-button-container .confirm[disabled] {
  background-color: transparent !important;
}

.sweet-alert .sa-confirm-button-container .la-ball-fall {
  display: none;
}
