.hidden {
  visibility: hidden;
}

.Panel img {
  width: 36px;
}

.Panel.create {
  padding-top: 24px;
}
.Panel.create button {
  margin: 0;
}

/* Extends sweet-alert styles */
pre#swaltext {
  white-space: pre-wrap;
  padding-top: 7px;
}

pre#swaltext>p {
  position: relative;
}

pre#swaltext.ace_editor {
  margin-bottom: 10px;
}

.sweet-alert .sa-error-container {
  background-color: transparent;
  padding: 0 !important;
}

.sweet-alert .sa-confirm-button-container .confirm[disabled] {
  background-color: transparent !important;
}

.sweet-alert .sa-confirm-button-container .la-ball-fall,
.sweet-alert .sa-input-error.show {
  display: none;
}

.sweet-alert.nchan .sa-error-container {
  position: absolute;
  left: 50px;
  bottom: 28px;
}

.sweet-alert .yml-delete {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(104px, 48px);
  z-index: 1;
}
