.hidden {
  visibility: hidden;
}

.flex {
  display: flex;
}

.user-list {
  justify-content: center;
}

div.user-list img {
  display: block;
  margin: 10px auto;
}

.user-list a {
  text-align: center;
}
